spring:
  application:
    name: gateway-service

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true

      routes:
        - id: USERSERVICE
          uri: lb://USERSERVICE
          predicates:
            - Path=/users/**, /api/admin/users/**, /api/users/**, /auth/**

        - id: BOOKING-SERVICE
          uri: lb://BOOKING-SERVICE
          predicates:
            - Path=/api/bookings/**

        - id: CATEGORY-SERVICE
          uri: lb://CATEGORY-SERVICE
          predicates:
            - Path=/api/categories/**

        - id: SALON-SERVICE
          uri: lb://SALON-SERVICE
          predicates:
            - Path=/salons/**, /api/salons/**, /api/admin/salons/**

        - id: SERVICE-OFFERING-SERVICE
          uri: lb://SERVICE-OFFERING-SERVICE
          predicates:
            - Path=/api/service-offering/**

        - id: PAYMENT-SERVICE
          uri: lb://PAYMENT-SERVICE
          predicates:
            - Path=/api/payments/**

server:
  port: 8090

eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8070/eureka/
  instance:
    prefer-ip-address: true
    hostname: localhost
