server:
  port: 8070

spring:
  application:
    name: eureka-service

eureka:
  instance:
    hostname: localhost

  client:
    register-with-eureka: false    # FIXED
    fetch-registry: false          # FIXED
    service-url:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/

